<div>
    {{resetindex}}
    {{#projects}}
    {{setUpindex}}
    <div class="portfolio-modal modal fade" id="portfolioModal{{getindex}}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>{{title}}</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src={{image}} alt={{title}}>

                                <h3>DESCRIPTION</h3>
                                <p class="item-details">{{description}}</p>

                                <h3>SCREENSHOTS</h3>
                                <span class="hidden-sm-down">
                                    <div class="slider owl-carousel owl-theme item-details">
                                        {{#images}}
                                        <div class="item">
                                            <img src="./img/screenshots/{{path}}/{{.}}.png"/>
                                        </div>
                                        {{/images}}
                                    </div>
                                </span>
                                <div class="hidden-md-up item-details">
                                    {{#images}}
                                        <img class="img-fluid img-centered"
                                             src="./img/screenshots/{{path}}/{{.}}.png"/>
                                    {{/images}}
                                </div>

                                <h3>TRY IT</h3>
                                <ul class="list-inline item-details">
                                    <li>URL:
                                        {{#url}}
                                        <strong><a target="_blank" href={{code}}>{{decode}}</a></strong>
                                        {{/url}}
                                    </li>
                                    <li>Type:
                                        <strong>{{type}}</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/projects}}
</div>