{{resetindex}}
{{#projects}}
{{setUpindex}}
<div class="col-sm-4 portfolio-item">
	<div class="portfolio-link" href="#portfolioModal{{getindex}}" data-toggle="modal">
		<div class="caption">
			<div class="caption-content">
				<i class="fa fa-search-plus fa-3x"></i>
			</div>
		</div>
		<img class="img-fluid" src={{image}} alt="">
	</div>
</div>
{{/projects}}