// Global styling for this template
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: $theme-success;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

hr.star-light,
hr.star-primary {
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 4px;
}

hr.star-light:after,
hr.star-primary:after {
    font-family: FontAwesome;
    font-size: 2em;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: "\f109";
}

hr.star-light {
    border-color: white;
}

hr.star-light:after {
    color: white;
    background-color: $theme-success;
}

hr.star-primary {
    border-color: $theme-primary;
}

hr.star-primary:after {
    color: $theme-primary;
    background-color: white;
}

.img-centered {
    margin: 0 auto;
}

section {
    padding: 100px 0;
    h2 {
        font-size: 3em;
        margin: 0;
    }
}

section.success {
    color: white;
    background: $theme-success;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

.scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    .btn {
        font-size: 16px;
        line-height: 28px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 100%;
        &:focus {
            outline: none;
        }
    }
}
